{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f23d6cf39d.js" crossorigin="anonymous"></script>
    <title>
        DonMax - Clients | {{client.title}}
    </title>
</head>
<body>
    <style>
        .cover{
            background-image: url('{{client.cover_image.url}}');
            background-color: gray;
            background-size: cover;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
        }
    </style>
    <div class="container-fluid cover">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-6 text-center text-white text-uppercase">
                <h1 class="mb-2">{{client.title}}</h1>
                <h5 class="text-light my-5">{{client.created}}</h5>
                <a href="#gallary" class="btn btn-outline-light py-2 px-3">View gallary</a>
            </div>
        </div>
        <div class="col-sm-12 text-center text-light border-0 bg-transparent" style="position: absolute; top: 20px;">
            <img src="{% static 'img/logo.png' %}" width="60" alt="Donmax">
            <p>DonMax Limited</p>
        </div>
    </div>
    <div class="container-fluid" id="gallary">
        <div class="row justify-content-between align-items-center p-3">
            <div class="col-sm-3">
                <h4>{{client.title}}</h4>
                <a href="{{client.category.get_absolute_url}}" class="nav-link text-secondary">{{client.category}}</a>
            </div>
            <div class="col-sm-3">
                <nav class="navbar navbar-dark">
                    <a href="/" class="nav-link text-secondary">Home</a>
                    <a href="{% url 'wedding' %}" class="nav-link text-secondary">Wedding</a>
                    <a href="{% url 'portfolio' %}" class="nav-link text-secondary">Portfolio</a>
                    <a href="{% url 'about-me' %}" class="nav-link text-secondary">About me</a>
                </nav>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-lg-12">
                <h4 class="text-uppercase my-3">Photos</h4>
            </div>
            {% if photos %}
                {% for photo in photos %}
                    <div class="col-sm-3">
                        <img src="{{photo.image.url}}" class="img-fluid" alt="name">
                    </div>
                {% endfor %}
            <div class="col-lg-12">
                <p class="text-uppercase my-3">{{photos.all.count}} photos</p>
            </div>
            {% else %}
                    <p>{{client.title}} has no pictures so far</p>
            {% endif %}
        </div>
        <div class="row p-3">
            <div class="col-lg-12">
                <h4 class="text-uppercase my-3">Videos</h4>
            </div>
            {% if videos %}
                {% for video in videos %}
                    <div class="col-sm-3">
                        <video src="{{video.video.url}}" controls muted class="img-fluid"></video>
                    </div>
                {% endfor %}
            <div class="col-lg-12">
                <p class="text-uppercase my-3">{{videos.all.count}} videos</p>
            </div>
            {% else %}
                    <p>{{client.title}} has no videos so far</p>
            {% endif %}
        </div>
    </div>
    {% include 'partials/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>