{% extends 'base.html' %}
{% load static %}
{% block meta %}

{% endblock %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6">
            <h5>Little about Me</h5>
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'img/team-1.jpg' %}" class="img-fluid" alt="donmax image">
                </div>
                <div class="col-md-8">
                    <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum dignissimos, consequatur repudiandae libero temporibus aut amet modi. Quod vel qui ab necessitatibus? Ipsam voluptate suscipit distinctio praesentium ut eos iusto.</span><span>Repellat harum aliquid illum veritatis, necessitatibus quibusdam fuga quis maxime voluptas esse exercitationem molestiae? Voluptatem unde provident mollitia vitae quam qui dolores atque aut. Ex dolores non suscipit. Voluptatum, quasi?</span><span>Corrupti veniam inventore laudantium, expedita dolor quos nesciunt suscipit maxime ea eos et fuga debitis deserunt. Ab, vel. Excepturi laboriosam odio accusamus at ea natus eaque tenetur in. Ea, voluptate.</span><span>Qui dolore exercitationem quidem quia omnis quisquam commodi sunt inventore sint ullam dolorem, vitae error consequuntur quos aut placeat! Ipsam at non aspernatur hic tempore quos voluptatum, sapiente adipisci pariatur.</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Approach</h5>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat eveniet deleniti amet obcaecati ipsum, natus aperiam iure in debitis! Quod illum accusantium quia quae saepe aspernatur dolores amet molestiae odit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde est eligendi vel eveniet cupiditate. Itaque, amet alias. Voluptatum quis incidunt reprehenderit. Placeat delectus at, aliquam veritatis suscipit doloribus in aliquid!
            </p>
            <h5>Mission</h5>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat eveniet deleniti amet obcaecati ipsum, natus aperiam iure in debitis! Quod illum accusantium quia quae saepe aspernatur dolores amet molestiae odit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde est eligendi vel eveniet cupiditate. Itaque, amet alias.
            </p>
            <h5>Vision</h5>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde est eligendi vel eveniet cupiditate. Itaque, amet alias. Voluptatum quis incidunt reprehenderit. Placeat delectus at, aliquam veritatis suscipit doloribus in aliquid!
            </p>
        </div>
    </div>
</div>
{% endblock %}