{% extends 'base.html' %}
{% load static %}
{% block meta %}

{% endblock %}
{% block title %}Investments{% endblock %}
{% block content %}
<div class="container mt-4">
    <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum dignissimos, consequatur repudiandae libero temporibus aut amet modi. Quod vel qui ab necessitatibus? Ipsam voluptate suscipit distinctio praesentium ut eos iusto.</span><span>Repellat harum aliquid illum veritatis, necessitatibus quibusdam fuga quis maxime voluptas esse exercitationem molestiae? Voluptatem unde provident mollitia vitae quam qui dolores atque aut. Ex dolores non suscipit. Voluptatum, quasi?</span><span>Corrupti veniam inventore laudantium, expedita dolor quos nesciunt suscipit maxime ea eos et fuga debitis deserunt. Ab, vel. Excepturi laboriosam odio accusamus at ea natus eaque tenetur in. Ea, voluptate.</span><span>Qui dolore exercitationem quidem quia omnis quisquam commodi sunt inventore sint ullam dolorem, vitae error consequuntur quos aut placeat! Ipsam at non aspernatur hic tempore quos voluptatum, sapiente adipisci pariatur.</span></p>
    <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat eveniet deleniti amet obcaecati ipsum, natus aperiam iure in debitis! Quod illum accusantium quia quae saepe aspernatur dolores amet molestiae odit.</span><span>Incidunt praesentium est architecto rem nesciunt animi obcaecati magnam facilis cum, qui accusamus delectus error eos tenetur, perferendis aliquam odit rerum soluta quod expedita. Optio laboriosam ipsa molestias explicabo odio.</span><span>Cupiditate ipsa, blanditiis, itaque dignissimos iusto quia recusandae facere placeat pariatur minus ratione optio sequi reprehenderit, praesentium illo quos odio aliquam tempore corporis aut quidem necessitatibus. Nulla pariatur veniam ex?</span><span>Perferendis voluptates nesciunt aliquam corporis neque sequi ad, nulla accusantium, illum, incidunt ea eos non quaerat temporibus placeat. Cumque doloribus libero error veniam, minima deleniti fuga sequi quae non aspernatur.</span></p>
</div>
<div class="container" style="background-color: rgba(128, 128, 128, 0.2);">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center py-5">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="" class="btn btn-outline-primary btn-lg"><i class="fas fa-download"></i> Download</a>
        </div>
    </div>
</div>
{% endblock %}